body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    apple color emoji, segoe ui emoji, Segoe UI Symbol, noto color emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #161616 !important;
  color: #eaeaea !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --theme: #d7ebfe;
  --theme2: #626ee3;

  --light: #dedede;
}

.bg-blue {
  background: var(--theme) !important;
}

.text-blue {
  color: var(--theme) !important;
}

.fade.modal.show {
  backdrop-filter: blur(15px) !important;
  transition: all 0.1s ease;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: 3px solid var(--theme) !important;
}
