@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif !important;
  font-feature-settings: normal;
  font-variation-settings: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0c0c0c !important;
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --theme: #d7ebfe;
  --theme2: #626ee3;
  --blue: #0a58ca;
  --light: #dedede;
}

.bg-blue {
  background: var(--theme) !important;
}

.text-blue {
  color: var(--blue) !important;
}

.fade.modal.show {
  backdrop-filter: blur(15px) !important;
  transition: all 0.1s ease;
}

.modal-content {
  border: 0 !important;
}

.shadow-custom {
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.11),
    0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.13);
}

.shadow-xs {
  box-shadow: rgba(50, 71, 92, 0.2) 0px 2px 1px -1px,
    rgba(50, 71, 92, 0.14) 0px 1px 1px 0px,
    rgba(50, 71, 92, 0.12) 0px 1px 3px 0px;
}

.fs-sm {
  font-size: 10px !important;
}
.fs-md {
  font-size: 13px !important;
}

.tagsLink {
  text-decoration: none;
  color: #000;
}
.active {
  background: var(--theme) !important;
}

.text-light-blue {
  color: #9ec5fe !important;
}

.bg-blue-2 {
  background: #9ec5fe !important;
}

.list-card-color-1 {
  background: #6c6c6c !important;
  opacity: 0.4;
}
.list-card-color-2 {
  background: #5c5c5c !important;
  opacity: 0.6;
}
.list-card-shadow {
  width: 98% !important;
  margin: auto;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.list-card-shadow-2 {
  width: 96% !important;
  margin: auto;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.dropdown-toggle::before {
  display: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}

.login-form-placeholder::placeholder {
  color: #cdebff6d !important;
}

.text-red {
  color: red !important;
}
