.custom-col-class pre {
  /* Your custom styles for the <pre> tag go here */
  color: red;
  /* Add more styles as needed */
}

.custom-col-class pre {
  font-family: "Consolas", "Courier New", monospace;
  background-color: #282c34;
  color: #abb2bf;
  padding: 1em;
  overflow-x: auto;
  box-shadow: 0 10px 20px -5px #000;
  font-size: 14px;
  white-space: pre-wrap; /* Add this line to allow text to wrap */
}

.custom-col-class pre code {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
}

/* CSS for mobile responsiveness */
@media (max-width: 767px) {
  .custom-col-class img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }
}
