.offcanvas-backdrop.show {
  opacity: 5 !important;
  background-color: rgba(16, 25, 46, 0.5) !important;
  backdrop-filter: blur(5px) !important;
}

.dropdown-menu {
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.dropdown-item:hover {
  background: var(--theme) !important;
  color: #000 !important; /* White text color */
}

.dropdown-menu {
  background-color: #343a40 !important; /* Dark background color */
}

.dropdown-item {
  color: var(--theme) !important;
}

.btn-close {
  color: var(--theme) !important;
}
