.offcanvas-backdrop.show {
  opacity: 5 !important;
  background-color: rgba(16, 25, 46, 0.5) !important;
  backdrop-filter: blur(5px) !important;
}

.dropdown-menu {
  padding: 0 !important;
  margin-bottom: 20px !important;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.11),
    0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.13);
  border: 0 !important;
  border-radius: 0 !important;
}
/* .navbar {
  margin: 0 70px !important;
} */
